.image-container {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Space between items */
}

.custom-img {
  border-radius: 50%;
  border: 10px solid #000;
}

.welcome-text {
  padding: 50px;
  border: 10px;
  border-radius: 50%;
  background-color: yellow;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
